<div style="width: 500px;margin: auto;background-color:#f4f4f4 ;padding: 40px;">
    <h1>Votre profil de freelancer a bien été vérifié !</h1>

    <p>Bonjour {{ name }},</p>
    <p>Votre profil étant maintenant vérifié, vous aurez plus d'accès au site.</p>
    <p>N'oubliez pas de vous reconnecter pour charger vos nouvelles fonctionnalités.</p>
    <a href="{{ url }}" style="text-decoration:none;background-color:#EA4E4E;color:white;padding:20px;border-radius:20px;margin:20px;display: inline-block;">Panama</a>
</div>
