<h1>Changement de mot de passe</h1>

<p>Bonjour {{ name }},</p>
<p>Vous avez demandé la modification de votre mot de passe. Cliquez sur le bouton ci-dessous pour choisir votre nouveau mot de passe :</p>
<a href="https://panama.fr/reset-password/{{ token }}">Click ici Reset Password</a>