<div style="width: 500px;margin: auto;background-color:#f4f4f4 ;padding: 40px;">
    <h1>Changement de mot de passe</h1>

    <p>Bonjour {{ name }},</p>
    <p>Vous avez demandé la modification de votre mot de passe. Cliquez sur le bouton ci-dessous pour choisir votre nouveau mot de passe :</p>
    <a href="https://panama.fr/reset-password/{{ token }}" style="text-decoration:none;background-color:#EA4E4E;color:white;padding:20px;border-radius:20px;margin:20px;display: inline-block;">Click ici Reset Password</a>
    <p>*PS ce lien expire dans 1h.</p>
</div>
