<div style="width: 500px;margin: auto;background-color:#f4f4f4 ;padding: 40px;">
    <h1>Changement de mot de passe</h1>

    <p>Bonjour {{ name }},</p>
    <p>Merci de votre inscription chez Panama. Veuillez vérifier votre compte par le lien ci-dessous :</p>
    <a href="https://panama.fr/verify-account/{{ token }}" style="text-decoration:none;background-color:#EA4E4E;color:white;padding:20px;border-radius:20px;margin:20px;display: inline-block;">Verify my account</a>
</div>
